@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NiveauGrotesk';
  src: url(../public/fonts/NiveauGroteskLight.otf);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NiveauGrotesk';
  src: url(../public/fonts/NiveauGroteskMedium.otf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NiveauGrotesk';
  src: url(../public/fonts/NiveauGroteskBold.otf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NiveauGrotesk';
  src: url(../public/fonts/NiveauGroteskRegular.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nobel';
  src: url(../public/fonts/NobelRegular.ttf);
  font-weight: 400;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'NiveauGrotesk', sans-serif;
    font-weight: 300
  }
}

.flex-space-between {
  @apply flex justify-between items-center
}


.flex-space-center{
  @apply flex justify-center items-center
}

.position-absolute {
  @apply absolute -bottom-20 left-[29rem]
}

.carousel-button{
  @apply px-4 py-3 cursor-pointer
}

.circle{
  @apply w-[192px] h-[192px] rounded-full border-2 flex-space-center cursor-pointer tracking-widest text-sm text-primaryColor flex-space-center
}

.tags{
  @apply font-light text-[#9B9B9B]
}

.tags-container-flex{
  @apply flex gap-x-2
}

.component-change{
  @apply text-[#C1C1C1] font-light text-xl tracking-[2px]
}

.auto-width{
  @apply container mx-auto px-0
}

.input-style {
  @apply w-full border-b-[1px] font-light text-lg border-[#9D9D9D] focus:border-activeColor outline-none py-2 text-[#9D9D9D]
}

.form-button {
 @apply block border-[1px] border-activeColor py-4 px-8 mt-8
}

.svg-background {
  background-image: url('/svgImage/cart-bg.svg');
}

.text-2xll{
  @apply text-[26px]
}